*, *::after, *, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
}


/* Creating grid to serve as play ground */
.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid rgb(5, 64, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* Clearing the outmost borders */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(n + 7) {
    border-bottom: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}


/* CSS for Cross(X) mark */
.cell.x::before,
.cell.x::after {
    background-color: green;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    background-color: lightgreen;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}



/* CSS for Round(O) mark */
.cell.o::before,
.cell.o::after {
    background-color: dodgerblue;
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    background-color: rgb(150, 193, 241);
}

.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 40%;
}

.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before {
    width: calc(var(--mark-size) * .9);
    height: calc(var(--mark-size) * .9)
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

/* CSS for Restart Button */

.winning-message {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    font-size: 5rem;
    flex-direction: column;
}
.winning-message button {
    font-size: 3rem;
    background-color: rgb(136, 194, 141);
    border: 1px solid black;
    padding: .25em .5em;
}

.winning-message button:hover {
    background-color: rgb(45, 50, 94);
    color: beige;
}

.winning-message.show {
    display: flex;
}











